USE [master]
GO
/****** Object:  Database [full_stack_db]    Script Date: 1.12.2024 10:30:46 ******/
/*****DEĞİŞİKLİK YAPTIM******//////
CREATE DATABASE [full_stack_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'full_stack_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.FULLSTACKDB\MSSQL\DATA\full_stack_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'full_stack_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.FULLSTACKDB\MSSQL\DATA\full_stack_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [full_stack_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [full_stack_db]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 1.12.2024 10:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[CityID] [int] NOT NULL,
	[CityName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClassDetails]    Script Date: 1.12.2024 10:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassDetails](
	[ClassID] [int] NOT NULL,
	[StudentID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 1.12.2024 10:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[ClassID] [int] IDENTITY(1,1) NOT NULL,
	[ClassProfID] [int] NULL,
	[ClassStartDate] [datetime] NULL,
	[CalssEndDate] [datetime] NULL,
	[ClassDescription] [nvarchar](50) NULL,
 CONSTRAINT [PK_Classes] PRIMARY KEY CLUSTERED 
(
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fields]    Script Date: 1.12.2024 10:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fields](
	[FieldID] [int] IDENTITY(1,1) NOT NULL,
	[FieldName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Fields] PRIMARY KEY CLUSTERED 
(
	[FieldID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Professors]    Script Date: 1.12.2024 10:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Professors](
	[ProfID] [int] IDENTITY(1,1) NOT NULL,
	[ProfName] [nvarchar](50) NULL,
	[ProfSurname] [nvarchar](50) NULL,
	[ProfFieldID] [int] NULL,
	[ProfCityID] [int] NULL,
 CONSTRAINT [PK_Professor] PRIMARY KEY CLUSTERED 
(
	[ProfID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 1.12.2024 10:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentName] [nvarchar](50) NULL,
	[StudentSurname] [nvarchar](50) NULL,
	[StudentNumber] [nvarchar](50) NULL,
	[StudentCityID] [int] NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cities] ([CityID], [CityName]) VALUES (1, N'Adana')
INSERT [dbo].[Cities] ([CityID], [CityName]) VALUES (2, N'Adıyaman')
INSERT [dbo].[Cities] ([CityID], [CityName]) VALUES (3, N'Afyonkarahisar')
GO
INSERT [dbo].[ClassDetails] ([ClassID], [StudentID]) VALUES (1, 1)
INSERT [dbo].[ClassDetails] ([ClassID], [StudentID]) VALUES (1, 4)
INSERT [dbo].[ClassDetails] ([ClassID], [StudentID]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[Classes] ON 

INSERT [dbo].[Classes] ([ClassID], [ClassProfID], [ClassStartDate], [CalssEndDate], [ClassDescription]) VALUES (1, 1, CAST(N'2024-11-30T00:00:00.000' AS DateTime), CAST(N'2025-11-30T00:00:00.000' AS DateTime), N'Nice Lecture')
SET IDENTITY_INSERT [dbo].[Classes] OFF
GO
SET IDENTITY_INSERT [dbo].[Fields] ON 

INSERT [dbo].[Fields] ([FieldID], [FieldName]) VALUES (1, N'Computer Eng')
INSERT [dbo].[Fields] ([FieldID], [FieldName]) VALUES (2, N'Cyber Security')
SET IDENTITY_INSERT [dbo].[Fields] OFF
GO
SET IDENTITY_INSERT [dbo].[Professors] ON 

INSERT [dbo].[Professors] ([ProfID], [ProfName], [ProfSurname], [ProfFieldID], [ProfCityID]) VALUES (1, N'Tarık', N'Hamarat', 1, NULL)
INSERT [dbo].[Professors] ([ProfID], [ProfName], [ProfSurname], [ProfFieldID], [ProfCityID]) VALUES (2, N'Halit', N'Özer', 2, NULL)
SET IDENTITY_INSERT [dbo].[Professors] OFF
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([StudentID], [StudentName], [StudentSurname], [StudentNumber], [StudentCityID]) VALUES (1, N'Tarık', N'Hamarat', N'100', NULL)
INSERT [dbo].[Students] ([StudentID], [StudentName], [StudentSurname], [StudentNumber], [StudentCityID]) VALUES (2, N'Esra', N'Çakıcı', N'454', NULL)
INSERT [dbo].[Students] ([StudentID], [StudentName], [StudentSurname], [StudentNumber], [StudentCityID]) VALUES (3, N'Yusuf', N'Ergin', N'123', NULL)
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
/****** Object:  Index [IX_ClassDetails]    Script Date: 1.12.2024 10:30:46 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ClassDetails] ON [dbo].[ClassDetails]
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD  CONSTRAINT [FK_Classes_Professors] FOREIGN KEY([ClassProfID])
REFERENCES [dbo].[Professors] ([ProfID])
GO
ALTER TABLE [dbo].[Classes] CHECK CONSTRAINT [FK_Classes_Professors]
GO
ALTER TABLE [dbo].[Professors]  WITH CHECK ADD  CONSTRAINT [FK_Professors_Cities] FOREIGN KEY([ProfCityID])
REFERENCES [dbo].[Cities] ([CityID])
GO
ALTER TABLE [dbo].[Professors] CHECK CONSTRAINT [FK_Professors_Cities]
GO
ALTER TABLE [dbo].[Professors]  WITH CHECK ADD  CONSTRAINT [FK_ProfFieldID_FieldID] FOREIGN KEY([ProfFieldID])
REFERENCES [dbo].[Fields] ([FieldID])
GO
ALTER TABLE [dbo].[Professors] CHECK CONSTRAINT [FK_ProfFieldID_FieldID]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Cities] FOREIGN KEY([StudentCityID])
REFERENCES [dbo].[Cities] ([CityID])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Cities]
GO
USE [master]
GO
